<!DOCTYPE html>
<html lang='pt-br'>
  <head>
    <title>Exemplo Maps</title>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='/stylesheets/style.css' />  
    <link rel="icon" href="/favicon.png" />
  </head>
  <body>
  <div id = 'map'></div>
     <script  src='/javascripts/map.js'> </script>
     <script async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAWMM38dR6Rg50ts6aDNXUaDFZpEI1G1As&callback=initMap'></script>      
  </body>
</html>